<a href="https://colab.research.google.com/github/Venkata09578/Python/blob/master/Control_Flow.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Comparision Operators:**

In [1]:
10 > 3

True

In [2]:
10 >= 3

True

In [3]:
10 < 20

True

In [5]:
10 == 10

True

Based on sorting it returns true.

In [7]:
"bag" > "apple"

True

In [9]:
"bag" == "BAG"

False

**Conditional Statements:**

In [20]:
marks = int(input("Enter the Marks: "))

if marks < 30:
  print("Fail")

elif marks > 30 and marks <= 40:
  print("E Grade")

elif marks > 40 and marks <= 50:
  print("D Grade")

elif marks >50 and marks <= 60:
  print("C Grade")
  
elif marks >60 and marks <= 70:
  print("B Grade")

elif marks >70 and marks <= 80:
  print("A Grade")
  
else:
  print("A+ Grade")

Enter the Marks: 81
A+ Grade

Ternary Operator:

In [21]:
age = 28
if age >= 18:
  message = "Elgible"
else:
  message = "Not Elgible"
  
print(message)

Elgible

In [24]:
age = 28 
message = " Eligible" if age >= 18 else "Not Eligible"
print(message)

 Eligible

Logical Operators:

In [26]:
high_income = False
good_credit = True
student = True

if (high_income or good_credit) and not student:
  print("Eligible")
else:
  print("Not Eligible")

Not Eligible

For Loops:

In [28]:
for number in range(2):
  print("Hello")

Hello
Hello

In [30]:
for number in range(2):
  print("Hello",number)

Hello 0
Hello 1

In [32]:
for number in range(0,4):
  print("Hello", number)

Hello 0
Hello 1
Hello 2
Hello 3

In [33]:
for number in range(0,10,2):
  print("Hello", number)

Hello 0
Hello 2
Hello 4
Hello 6
Hello 8

For Else:

In [36]:
success = False
for number in range (0,3):
  print("Attempt")
  if success:
    print("success")
    break
  else: 
    print("unsuccess")

Attempt
unsuccess
Attempt
unsuccess
Attempt
unsuccess

Nested Loops:

In [38]:
for x in range(0,5):
  for y in range(0,3):
    print(f"{x},{y}")

0,0
0,1
0,2
1,0
1,1
1,2
2,0
2,1
2,2
3,0
3,1
3,2
4,0
4,1
4,2

While Loop:

In [39]:
number = 100
while number > 0:
  print(number)
  number = number // 2

100
50
25
12
6
3
1

Exercise:

In [1]:
j = 0 
for i in range(1,11):
  if i % 2 == 0:
    print(i)
    j += 1
  else:
    exit()
print(f"We have {j} numbers")

2
4
6
8
10
We have 5 numbers