<a href="https://colab.research.google.com/github/Venkata09578/Python/blob/master/Data_Structures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**List**

In [0]:
letters = ["a","b"]

In [0]:
print(letters)

['a', 'b']

A two dimensional list is called as a Matrix.

In [0]:
matrix = [[0,1],[2.3]]
print(matrix)

[[0, 1], [2.3]]

Adding list of numbers to a list of letters.

In [0]:
zeros = [0] * 5
combined = zeros + letters
print(combined)

[0, 0, 0, 0, 0, 'a', 'b']

Storing a range of values to a list.

In [0]:
numbers = list(range(10))
print(numbers)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

Printing the length and characters in a given string

In [0]:
chars = list("Hello World")
print("Characters in chars: ",chars)
print("Lenght of chars: ", len(chars))

Characters in chars:  ['H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd']
Lenght of chars:  11

**Accessing lists**

In [0]:
alpha = ["A","B","C","D","E"]
print("First element in the list :",alpha[0])
print("Last element in the list :",alpha[-1])
print("First 3 elements in the list :",alpha[0:3])
print("Alternative elements in the list :",alpha[::2])
print("Printing elements in reverse order",alpha[::-1])

First element in the list : A
Last element in the list : E
First 3 elements in the list : ['A', 'B', 'C']
Alternative elements in the list : ['A', 'C', 'E']
Printing elements in reverse order ['E', 'D', 'C', 'B', 'A']

In [0]:
alpha[0] = "a"
print("List after updating first element :",alpha)

List after updating first element : ['a', 'B', 'C', 'D', 'E']

**Unpacking Lists**

In [0]:
numbers = list(range(10))
first , *other, last = numbers
print("First number in the list :",first)
print("middle numbers in the list :",other)
print("Last number in the list :",last)

First number in the list : 0
middle numbers in the list : [1, 2, 3, 4, 5, 6, 7, 8]
Last number in the list : 9

**Looping over Lists**

In [0]:
numbers = list(range(20))
for index,number in enumerate(numbers):
  print(f"index : {index}, Number : {number}")

index : 0, Number : 0
index : 1, Number : 1
index : 2, Number : 2
index : 3, Number : 3
index : 4, Number : 4
index : 5, Number : 5
index : 6, Number : 6
index : 7, Number : 7
index : 8, Number : 8
index : 9, Number : 9
index : 10, Number : 10
index : 11, Number : 11
index : 12, Number : 12
index : 13, Number : 13
index : 14, Number : 14
index : 15, Number : 15
index : 16, Number : 16
index : 17, Number : 17
index : 18, Number : 18
index : 19, Number : 19

**Adding or removing items**

In [0]:
numbers = list(range(1,10))
numbers.append(10) #To add an element to the end of the list
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [0]:
numbers.insert(0,0)  #To add an element at a particular index
print(numbers)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [0]:
numbers.pop(3) #to remove an element using an index 
print(numbers)

[0, 1, 2, 4, 5, 6, 7, 8, 9, 10]

In [0]:
numbers.remove(10) #to remove an element using its value(it will remove the first 10 if there are many 10's in the list)
print(numbers)

[0, 1, 2, 4, 5, 6, 7, 8, 9]

In [0]:
del numbers[0:3] #to remove elments in the first three indexes
print(numbers)

[4, 5, 6, 7, 8, 9]

In [0]:
numbers.clear() #to remove all the elements in the list
print(numbers)

[]

**Finding items in a list**

In [0]:
numbers = [1,2,3,4,5,6,7,8,9,11,2,3,3,2,2,2,2,2,2] #To get the occurence of an element in the list
print(numbers.count(2))

8

In [0]:
print(numbers.index(3)) #To get the index of the element in the list

2

Sorting the elements in the list:

In [0]:
numbers.sort() #To sort in Ascending order
print(numbers)

[1, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 4, 5, 6, 7, 8, 9, 11]

In [0]:
numbers.sort(reverse = True) #To sort in Descending order
print(numbers)

[11, 9, 8, 7, 6, 5, 4, 3, 3, 3, 2, 2, 2, 2, 2, 2, 2, 2, 1]

Using Lambda function:

In [0]:
items = [("P1", 19),("P2", 21),("P3", 11)]
items.sort(key = lambda item : item[1])
print(items)

[('P3', 11), ('P1', 19), ('P2', 21)]

**Map Function**

If i want to get only the prices of the products we can acheive that by using map function

In [0]:
products = [("P1", 19),("P2", 21),("P3", 11)]
prices = list(map(lambda item:item[1],products))
print(prices)

[19, 21, 11]

**Filter Function**

To print a list of tuples based on arthematic conditions

In [0]:
snacs = [("P1", 19),("P2", 21),("P3", 9)]
print(list(filter(lambda item : item[1] > 10,snacs)))

[('P1', 19), ('P2', 21)]

**List Comprehensions**

Used to code map and filter functions in easy way

In [0]:
prices = [item[1] for item in products] #Alternative of using map function
print(prices)

[19, 21, 11]

In [0]:
filtered = [item for item in snacs if item[1] > 10 ] #Alternative of using filter function
print(filtered)

[('P1', 19), ('P2', 21)]

**Zip Function**

In [0]:
list1 = [1,2,3,4]
list2 = [5,6,7,8]
print(list(zip(list1,list2)))

[(1, 5), (2, 6), (3, 7), (4, 8)]

In [0]:
print(list(zip("abcd",list1,list2)))

[('a', 1, 5), ('b', 2, 6), ('c', 3, 7), ('d', 4, 8)]

**Stacks**

LIFO - last in first out

In [0]:
s1 = [] #Empty Stack
s1.append(1)
s1.append(2)
s1.append(3)
s1.append(4)
s1.append(5)
s1.append(6)
s1.append(7)
print(s1)

[1, 2, 3, 4, 5, 6, 7]

In [0]:
s1.pop() 
print(s1)

[1, 2, 3, 4, 5, 6]

In [0]:
s1.pop(3) # Removes the value at index 3 from the stack
print(s1)

[1, 2, 3, 5, 6]

In [0]:
if s1: #Checks whether the stack is empyt or not
  print(s1[-1])

6

**Queues**

FIFO - First in First Out

In [0]:
from collections import deque
queue = deque([])
queue.append(1)
queue.append(2)
queue.append(3)
queue.append(4)
print(queue)

deque([1, 2, 3, 4])

In [0]:
queue.popleft()
print(queue)

deque([2, 3, 4])

**Tuples**
:Read Only List(Immutable)

In [0]:
point = (2,3) #We can also define tuple as point = 1,2

In [2]:
point = (1,2) + (3,4)  # Concatenating tuples
print(point)

(1, 2, 3, 4)

In [4]:
print(point[0:2])

(1, 2)

**Swapping Variables:**

In [9]:
x = 10
y = 11
x,y = y,x # Swapping variables with out using thrid variable
print(f"X = {x}, y = {y}")

X = 11, y = 10

**Array**

In [10]:
from array import array
numbers = array("i",[1,2,3])
print(numbers)

array('i', [1, 2, 3])

**Sets**

Collection with no duplicates

In [12]:
  numbers = [1,2,1,3,4,5]
  first = set(numbers)
  print("Uniques elements in the list", first)

Uniques elements in the list {1, 2, 3, 4, 5}

In [0]:
second = {78,9,11}

Operations on Sets

In [17]:
print("Union of two sets " ,first | second)
print("Intersection of two sets " ,first & second)
print("Difference of two sets " ,first - second)
print("Semetric diff of two sets " ,first ^ second)

Union of two sets  {1, 2, 3, 4, 5, 9, 11, 78}
Intersection of two sets  set()
Difference of two sets  {1, 2, 3, 4, 5}
Semetric diff of two sets  {1, 2, 3, 4, 5, 9, 11, 78}

**Dictionaries**

Collection Of key value pairs

In [20]:
point = {"x" : 1,"y" : 2} #defining a dict
print(point)

{'x': 1, 'y': 2}

In [22]:
point = dict(x = 1,y = 2) #defining a dict
print(point)

{'x': 1, 'y': 2}

In [24]:
point["x"] = 10 #Updating the values in dict by using key
point["z"] = 20 #Adding a new key and value to the dict
print(point)

{'x': 10, 'y': 2, 11: 10, 'z': 20}

In [25]:
print(point.get("x")) #Getting value of x using get function

10

In [26]:
del point["x"] #Deleting a key in dict
print(point)

{'y': 2, 11: 10, 'z': 20}

In [28]:
#Looping over dict
for key in point:
  print(point[key])

2
10
20

In [29]:
for key,value in point.items():
  print(key,value)

y 2
11 10
z 20

Generators objects:

In [38]:
from sys import getsizeof
values = [x * 2 for x in range(5)]
print(values)
print("Size when we use general list comprehension", getsizeof(values))

[0, 2, 4, 6, 8]
Size when we use general list comprehension 128

In [39]:
values = (x * 2 for x in range(5))
print(values)
for x in values:
  print(x)
  
print("Size when we use generators", getsizeof(values))

<generator object <genexpr> at 0x7f9f19a92150>
0
2
4
6
8
Size when we use generators 88

Exercise:<br>
Printing the most repeated character in sentence

In [56]:
from pprint import pprint
freq = {}
sentence = " This is a common interview Question"
for char in sentence:
  if char in freq:
    freq[char] += 1
  else:
    freq[char] = 1
    
    
#pprint(freq,width =1)

print(sorted(freq.items(), key = lambda k: k[1],reverse = True)) #Sorting a dict

[(' ', 6), ('i', 5), ('s', 3), ('o', 3), ('n', 3), ('e', 3), ('m', 2), ('t', 2), ('T', 1), ('h', 1), ('a', 1), ('c', 1), ('r', 1), ('v', 1), ('w', 1), ('Q', 1), ('u', 1)]